@page "/"

<PageTitle>Panoramica</PageTitle>

<FluentStack Orientation=" Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment=" HorizontalAlignment.Center">
    <h1>Benvenuto su GDN (Gestionale DotNet)</h1>
    <div>
        GDN è un gestionale open-source sviluppato in .NET e Blazor
    </div>
</FluentStack>
